.root {
	width: 100vw;
	height: 100vh;
	background-color: var(--background-color);
}

.header,
.footer {
	width: 100%;
	position: fixed;
	text-align: center;
} 

.header {
	inset: 20px 0 auto 0;
}

.header__title {
	font-size: 3.5rem;
	font-weight: 600;
}

.text-link {
	color: var(--main-color);
	text-decoration: underline;
}

.footer {
	inset: auto 0 20px 0;
}

.footer__copyright {
	font-family: var(--monospace-font);
	font-size: 1.5rem;
}

/* GAME */
.game-container {
	width: 100%;
	max-width: 900px;
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 3fr 1fr;
	place-items: center;
	position: relative;
	margin: 0 auto;
	padding: 100px 20px;
}

.game__header {
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;
}

.game__status {
	font-size: 2.4rem;
}

.status__value {
	font-size: 3rem;
	font-weight: 600;
	font-family: var(--monospace-font);
}

.game__display {
	font-size: 3rem;
	text-align: center;
}

.game__word {
	margin-top: 4rem;
	font-size: clamp(30px, 8vw, 70px);
	font-weight: 700;
	font-family: var(--monospace-font);
}

.game__text {
	margin-bottom: 4rem;
}

.game__word--correct {
	color: var(--correct-color);
}

.game__word--wrong {
	color: var(--wrong-color);
}

.homescreen {
	width: 100%;
	height: 532px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	position: absolute;
	z-index: 10;
	padding: 20px;
	background-color: var(--background-color);
}

.hidden-display {
	display: none;
}

.homescreen__text {
	margin-bottom: 2rem;
	font-size: 2.5rem;
	text-align: center;
}

.homescreen__btn {
	font-size: 2.5rem;
	font-family: var(--monospace-font);
	cursor: pointer;
}

.homescreen__countdown {
	font-size: 10rem;
	font-family: var(--monospace-font);
}
